#contact_modal {
    display: none;
}

.photograph-header {
    position: absolute;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph_header {
    background-color: #fafafa;
    margin: 0 5% 0 5%;
    padding: 30px;
  }
  
  .photograph_header article {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
  }
  
  .photograph_header article h1 {
    color: #d3573c;
    font-size: 54px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .photograph_header article h2 {
    color: #901c1c;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
  }
  
  .photograph_header article h3 {
    color: #000;
    font-size: 18px;
    font-weight: normal;
  }
  
  .photograph_header article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px #c4c4c4;
    object-fit: cover;
  }

.contact_button {
    position: relative;
    bottom: -120px;
    right: -40%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 100px 50px 100px;
  }
  
  .photograph-galery figure {
    cursor: pointer;
    transform: scale(0);
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  .photograph-galery figure:nth-child(1n) {
    animation-delay: 0.15s;
  }
  
  .photograph-galery figure :hover {
    transform: translateY(-2px) scale(1.02);
    transition: all 0.25s ease;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 12%),
      0 4px 4px rgb(0 0 0 / 12%), 0 8px 8px rgb(0 0 0 / 12%),
      0 16px 16px rgb(0 0 0 / 12%);
  }
  
  .photograph-galery figure img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    object-position: center top;
    transform: translateY(0px) scale(1);
    transition: all 0.25s ease;
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  }
  
  .photograph-galery figure video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    object-position: center top;
    transform: translateY(0px) scale(1);
    transition: all 0.25s ease;
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
    max-width: 100%;
  }
  
  .photograph-galery figure h4 {
    color: #911c1c;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 0px;
  }