@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

a{
    text-decoration: none;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0px;
}

.photographer_section article h3 {
    color: #901C1C;
    margin: 0px;
    font-weight: 400;
    font-size: 13px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article span {
    font-size: 10px;
    color: black;
}

.photographer_section article p {
    color: #757575;
    margin-top: 0px;
    font-size: 9px;
}

.photograph-galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 100px 50px 100px;
}

.photograph-galery figure {
  cursor: pointer;
  transform: scale(0);
  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.photograph-galery figure:nth-child(1n) {
  animation-delay: 0.15s;
}

.photograph-galery figure :hover {
  transform: translateY(-2px) scale(1.02);
  transition: all 0.25s ease;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 12%),
    0 4px 4px rgb(0 0 0 / 12%), 0 8px 8px rgb(0 0 0 / 12%),
    0 16px 16px rgb(0 0 0 / 12%);
}

.photograph-galery figure img {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  object-position: center top;
  transform: translateY(0px) scale(1);
  transition: all 0.25s ease;
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
}

.photograph-galery figure video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  object-position: center top;
  transform: translateY(0px) scale(1);
  transition: all 0.25s ease;
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  max-width: 100%;
}

.photograph-galery figure h4 {
  color: #911c1c;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0px;
}


  
  
